@font-face {
   font-family: "Ubuntu Regular";
   src: url("../fonts/Ubuntu-Regular.ttf");
}

body{
    background: #28252E;
}

#logo {
    position: absolute;
    left: 3px;
    top: 0;
    z-index: 1000;
}
svg[Attributes Style] {
    width: 100;
    height: 100;
}
user agent stylesheet
svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connexion-text{
    font-family: "Ubuntu Regular";
    color: white;
    margin-right: 20px;
    position: relative;
    top: 25px;
}

.connexion-line{
    width: 73px;
    height: 3px;
    background-color: #F4CD4A;
    position: relative;
    right: 15px;
    top: 25px;
}

.greyLine{
    width: 80%;
    height: 1px;
    background-color: #888888;
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
}

.whiteCircle-container{
    overflow: hidden;
    height: 500px;
    width: 100vw;
}

.whiteCircle{
    background-color: white;
    height: 130vw;
    width: 130vw;
    border-radius: 50%;
    margin-top: 204px;
    position: relative;
    left: -15%;
    right: 85%;
}

